/* =========================================
   Checkout Success Page Style
========================================= */
.checkout-success {
  h2{
    color: var(--color-success);
  }
  a {
    display: flex;
    align-items: center;
  }

  .blink {
    margin-top: 70px;
    margin-right: 10px;
    font-size: 5em;
    color: var(--color-blue-3set);
    text-align: center;
    animation: animate 1.5s linear infinite;
  }

  @keyframes animate {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.7;
    }

    100% {
      opacity: 0;
    }
  }
}