.home-dashboard {

  .info-box {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    border: 1px solid var(--border);
    padding: 12px;
    background-color: var(--bg-color);

    span {
      h3 {
        margin: 0;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .card1 {
    border-bottom: 3px solid var(--color-light-blue-3set);
  }

  .card2 {
    border-bottom: 3px solid var(--color-blue-3set);
  }

  .card3 {
    border-bottom: 3px solid var(--color-dark-blue-3set);
  }
}