/* =========================================
   Admin Page
========================================= */
.admin {
  display: flex;
  margin-top: 40px;

  .controlPanel {
    position: relative;
    width: 75%;
  }
}