/* =========================================
   Not Found Page Style
========================================= */
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;

  h2 {
    font-size: 16rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 4vw;
    margin-bottom: 2rem;
  }
}
