/* =========================================
   Contact Form Styles for floating Button
========================================= */
.contact-form {
  position: fixed;
  width: 22vw;
  bottom: 80px;
  right: 28px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  transition: opacity 0.5s, transform 0.5s;
  opacity: 1;
  transform: translateY(0);

  &.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    transition: color 1s ease;

    &:hover {
      color: var(--color-blue-3set);
    }
  }

  label {
    display: block;
  }

  textarea {
    height: 120px;
  }

  textarea,
  input {
    background: transparent;
  }
}

@media (max-width: 768px) {
  .contact-form {
    width: 90%;
    bottom: 100px;
  }
}